#svn project address
svn_addr="svn://10.160.29.168/trunk/app_service_template"
#test deploy address 
deploy_addrs="
10.160.15.211:20888
"
deploy_username="nyuser"
# deploy path
deploy_path="/data/dubbo"
# deploy delayed unit 's'
deploy_delayed="15"
# sync config address
sync_config_addr="curl -s 10.160.20.71:12307/sp2p_config/getwithipport.c?ipport=ipport_value\&env=0"
